<!DOCTYPE html>
<html>
<head>
    <title>nodeJuice - JavaScript V8 Seeker Server WSGI</title>
    <link href=/style.css rel=stylesheet />
    <meta name=viewport content="width=device-width; initial-scale=0.80; maximum-scale=0.80; user-scalable=0;" />
</head>
<body>
    <div id=nodejuice>
        <a href=/><span id=node>node</span><span id=juice>Juice</span></a>
        <a id=git href=http://github.com/stephenlb/nodejuice>github repository</a>
        <a class=outlinks href=/install>Install</a>
        <a class=outlinks href=/documentation>Documentation</a>
        <a class=outlinks href=http://www.saymix.com/stephen_blum/nodejuice_wsgi_benchmarks_in_production_mode>Benchmark</a>
        <a class=outlinks href=/blog>Blog</a>
<a class=outlinks href=http://vimeo.com/8459839>
<span class=n>node</span><span class=j>Juice</span></a>
        <a class=outlinks href=/nodejs>NodeJS</a>
        <a class=outlinks href=/mongodb>MongoDB</a>
    </div>

    <div class=clear></div>

    <div id=stage>{{content}}</div>

    <div id=bottom>
            <div>Hi. You made it to the bottom.</div>
            <div>
                This website was built using nodeJuice's WSGI and
                Seeker Server with kickass.
            </div>
        <p>
            <a href=http://www.google.com/profiles/blum.stephen>
            About the author</a>.
        </p>
        &copy; Copyright <span class=n>node</span><span class=j>Juice</span>
    </div>
<script type="text/javascript">
if (location.href.indexOf('.') === -1) return;
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if (location.href.indexOf('.') === -1) return;
try {
var pageTracker = _gat._getTracker("UA-12311376-1");
pageTracker._setDomainName("none");
pageTracker._setAllowLinker(true);
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
