<!DOCTYPE html>
<html>
<head>
    <title>nodeJuice - JavaScript V8 Seeker Server WSGI</title>
    <link href=/style.css rel=stylesheet />
    <meta name=viewport content="width=device-width; initial-scale=0.80; maximum-scale=0.80; user-scalable=0;" />
</head>
<body>
    <div id=nodejuice>
        <a href=/><div id=node>node</div><div id=juice>Juice</div></a>
        <a id=git href="dsfklj">github download source</a>
        <a class=outlinks href=http://nodejs.org>NodeJS.org</a>
        <a class=outlinks href=http://mongodb.org>MongoDB.org</a>
<a class=outlinks href=http://vimeo.com/8459839>
<div class=n>node</div><div class=j>Juice</div>:</a>
        <a class=outlinks href=/install>Install</a>
        <a class=outlinks href=/documention>Documention</a>
    </div>

    <div class=clear></div>

    <div id=stage>{{content}}</div>

    <div id=bottom>
            <div>Hi. You made it to the bottom.</div>
            <div>This website was built using Seeker Server.</div>
        <p>
            <a href=http://www.google.com/profiles/blum.stephen>
            About the author</a>.
        </p>
        &copy; Copyright <div class=n>node</div><div class=j>Juice</div>
    </div>
</body>
</html>
