<h1>Installation Instructions</h1>
<div>
<a href=http://github.com/stephenlb/nodejuice/tarball/master>Download <div class=n>node</div><div class=j>Juice</div>-1.3.3</a>
</div><br/>

<div>
    This is a quick tutorial on how to install
    <div class=n>node</div><div class=j>Juice</div>.
    <a href=http://vimeo.com/8495585>Watch the video Installation HOW TO</a>.
</div>

<ol>
    <li>
        Install Node (v0.1.26)
        <ul>
        <!--
            <li>
                Ubuntu/Debian:
                <a href=http://nodejuice.s3.amazonaws.com/node-i386.deb>node-i386.deb</a> -
                (<em>you probably want this one</em>)
            </li>
            <li>
                Ubuntu/Debian:
                <a href=http://nodejuice.s3.amazonaws.com/node-amd64.deb>node-amd64.deb</a>
<pre class=code>sudo dpkg -i node-i386.deb
<em>or</em>
sudo dpkg -i node-amd64.deb
</pre>
            </li>
            -->
            <li>
                <a href=http://nodejs.org/#download>Download NodeJS</a>
                and compile from source:
                <pre class=code>./configure &amp;&amp; sudo make install</pre>
            </li>
        </ul>
    </li>
    <li><a href=http://github.com/stephenlb/nodejuice/tarball/master>
        Download 
        <div class=n>node</div><div class=j>Juice</div>-1.3.3</a>
    </li>
    <li>
        Extract files then Start WSGI, Seeker and Browser:
        <ul>
            <li>
                Extract files form archive:
                <pre class=code>tar xvfz stephenlb-nodejuice-#######.tar.gz</pre>
            </li>
            <li>
                Start the server:
                <pre class=code>cd stephenlb-nodejuice-####### &amp;&amp; ./nodejuice demo/rad</pre>
            </li>
            <li>
                Run Browser:
                <pre class=code>http://localhost:8080/</pre>
            </li>
        </ul>
    </li>
</ol>
