<h1>Installation Instructions</h1>
<div>
<a href=http://github.com/stephenlb/nodejuice/tarball/master>----&gt; Download <div class=n>node</div><div class=j>Juice</div>-1.4.2 &lt;----</a>
</div><br/>

<div>
    This is a quick tutorial on how to install
    <div class=n>node</div><div class=j>Juice</div>.
    <a href=http://vimeo.com/8495585>Watch the video Installation HOW TO</a>.
</div>

<ol>
    <li>
        <a href=http://cdn.nodejuice.com/node-v0.1.33.tar.gz>Download Node (v01.33)</a>
        <ul>
            <li>Then compile from source:
<pre class=code>tar xvfz node-v01.33.tar.gz
cd node-v01.33
./configure &amp;&amp; sudo make install</pre>
            </li>
        </ul>
    </li>
    <li><a href=http://github.com/stephenlb/nodejuice/tarball/master>
        Download 
        <div class=n>node</div><div class=j>Juice</div>-1.4.2</a>
    </li>
    <li>
        Extract files then Start WSGI, Seeker and Browser:
        <ul>
            <li>
                Extract files:
                <pre class=code>tar xvfz stephenlb-nodejuice-#######.tar.gz</pre>
            </li>
            <li>
                Start the server:
                <pre class=code>cd stephenlb-nodejuice-####### &amp;&amp; ./nodejuice demo/rad/</pre>
            </li>
            <li>
                Run Browser:
                <pre class=code>http://localhost:8080/</pre>
            </li>
            <li>
                To Stop NodeJuice press control key and the letter 'c':
                <pre class=code>CTRL + C</pre>
            </li>
            <li>
                To run on your own files:
                <pre class=code>cd stephenlb-nodejuice-####### &amp;&amp; ./nodejuice /path/to/my/files</pre>
            </li>
        </ul>
    </li>
</ol>
