<h1>Installation Instructions</h1>
This is a quick tutorial on how to install
<div class=n>node</div><div class=j>Juice</div>.
<a href=/>Watch the video Installation HOW TO</a>.
<ol>
    <li>
        Install Node Process
        <ul>
            <li>
                Ubuntu/Debian:
                <a href=http://nodejuice.s3.amazonaws.com/node-i386.deb>node-i386.deb</a> - (<em>you probably want this one</em>)
            </li>
            <li>
                Ubuntu/Debian:
                <a href=http://nodejuice.s3.amazonaws.com/node-amd64.deb>node-amd64.deb</a>
<pre class=code>sudo dpkg -i node-i386.deb
<em>or</em>
sudo dpkg -i node-amd64.deb
</pre>
            </li>
            <li>
                Or <a href=http://nodejs.org/#download>Download NodeJS</a>
                and compile from source:
                <pre class=code>./configure &amp;&amp; sudo make install</pre>
            </li>
        </ul>
    </li>
    <li><a href=/>
        Download 
        <div class=n>node</div><div class=j>Juice</div></a>
    </li>
    <li>
        Start ./nodejuice Server
        <ul>
            <li>
                Extract files form archive:
                <pre class=code>tar xvfj nodejuice.bz2</pre>
            </li>
            <li>
                Start the server:
                <pre class=code>cd nodejuice &amp;&amp; ./nodejuice website/</pre>
            </li>
        </ul>
    </li>
</ol>
